services:
  phpstan:
    image: composer:2
    volumes:
      - .:/app
    working_dir: /app
    entrypoint: []
    command: >
      sh -c "
      composer install --no-interaction --prefer-dist &&
      vendor/bin/phpstan analyse -c phpstan.neon --memory-limit=1G
      "
